@charset "UTF-8";
/*Cambiar el nombre de la carpeta a Index, también en
_estilos.scss*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1919;
}

.index_contenido {
  width: 100%;
}

.subtitulo_index {
  color: #ea977b;
  text-align: center;
  margin-left: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

/*
.main-index{
    display: flex;
    align-items: center;
}
*/
.index2 {
  background-image: url(/imagenes/stacked-waves-haikei2.png);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1638' height='480' preserveAspectRatio='none' viewBox='0 0 1638 480'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1638' height='480' x='0' y='0' fill='rgba(234%2c 151%2c 123%2c 1)'%3e%3c/rect%3e%3cpath d='M1638 0L1267.66 0L1638 166.64z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1267.66 0L1638 166.64L1638 263.5L753.9000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M753.9000000000001 0L1638 263.5L1638 292.83L591.8400000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M591.8400000000001 0L1638 292.83L1638 367.44L232.25000000000017 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 480L342.35 480L0 354.84000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 354.84000000000003L342.35 480L976.44 480L0 296.70000000000005z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 296.7L976.44 480L979.1800000000001 480L0 137.2z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 137.2L979.1800000000001 480L1309.26 480L0 60.139999999999986z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1638' height='480' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  height: 25rem;
}

.index2 .index2-titulo {
  margin-top: 2rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.index2 .index2-titulo .index2-h3 {
  font-size: 80px;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
}

.index2 .index2-enlace {
  text-decoration: none;
  color: #1a1919;
  font-size: 20px;
}

.index2 .index2-enlace:hover {
  color: white;
}

.index2 .index2-links {
  margin-top: 1rem;
}

.links-servicios {
  display: flex;
  justify-content: center;
}

.links-servicios li {
  list-style-type: none;
  padding: 0 2rem 0 0;
}

.links-servicios li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.links-servicios li a:hover {
  color: #1a1919;
}

header {
  grid-area: header;
  background-color: black;
  display: inline-flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo nav";
  align-content: space-evenly;
  margin-left: 0;
  margin-right: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: 2px solid white;
  margin-left: 20px;
  grid-area: logo;
}

.menuHeader {
  margin-top: 15px;
}

.menuHeader ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: nav;
}

.menuHeader ul li {
  list-style-type: none;
  margin: 0 10px;
}

.menuHeader ul li a {
  text-decoration: none;
  color: white;
}

.menuHeader ul li a:hover {
  color: lightcoral;
}

.header_open {
  display: none;
}

.close {
  display: none;
}

/*
.main-index{
  height: 100vh;
}

*/
.blogCard {
  max-width: 540px;
}

.titulo {
  text-align: center;
  color: white;
}

.subtitulo {
  text-align: center;
  color: white;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.parrafo {
  text-align: center;
  color: white;
  padding-left: 2rem;
}

.carruselIndex {
  width: 450px;
  padding: 109px 0;
}

.carrusel {
  display: flex;
  justify-content: center;
}

.row {
  align-items: center;
}

.carousel slide {
  width: 500px;
}

.d-block {
  width: 300px;
  height: 400px;
}

.tracking-in-expand {
  font-size: 100px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  color: white;
  padding: 10px;
}

footer div {
  padding: 5px;
}

.card-img-top {
  height: 300px;
}

.card {
  margin: 50px 0;
  width: 18rem;
}

.card-title {
  text-align: center;
}

.servicio__titulo {
  display: flex;
  justify-content: center;
}

.list-group li:hover {
  background-color: darksalmon;
}

.card-text {
  height: 140px;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.card-body a:hover {
  color: darksalmon;
  font-weight: 500;
}

.card-servicios {
  height: 700px;
}

.card-body {
  height: 200px;
}

.scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.card-cursos {
  height: 250px;
}

.cardCursos {
  height: 750px;
}

.cardCursos:hover {
  background-color: darksalmon;
  transition: 2s;
}

.reserva {
  background-color: darksalmon;
  border: darksalmon;
  display: flex;
  justify-content: center;
}

.reserva :hover {
  background-color: white;
  transition: 1s;
}

.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.blog-card {
  background-color: white;
  height: 400px;
  text-align: center;
}

.blog-card :hover {
  background-color: #ea977b;
  transition: 1s;
}

.card-text {
  height: 300px;
}

.seccion2 {
  padding: 100px 0;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario2 {
  margin: 1rem 0;
}

.tituloAgenda {
  font-size: 80px;
}

@media screen and (max-width: 600px) {
  .grillaIndex {
    display: flex;
    flex-direction: column;
  }
  .tituloIndex {
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .subtitulo_index {
    margin-left: 15px;
  }
  .parrafo {
    padding-left: 12px;
  }
  header {
    flex-direction: row;
  }
  header nav ul {
    margin: 0;
  }
  .index_contenido {
    padding-left: 20px;
  }
  .menuHeader {
    display: flex;
    justify-content: space-around;
  }
  .header_open {
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .logo {
    margin-top: 10px;
  }
  main div h2 {
    text-align: center;
  }
  main div h3 {
    text-align: center;
  }
  .indexTexto {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .grillaIndex {
    margin-right: 0;
    margin-left: 12px;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
  }
  #lateral:target {
    right: 0;
    transition: right 1s;
  }
  .menuHeader ul {
    flex-direction: column;
    justify-content: center;
  }
  .navLista {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  .close {
    display: flex;
  }
  /**************SERVICIOS************/
  .servicio__titulo {
    font-size: 60px;
    margin-top: 2rem;
  }
  .card-body {
    height: 200px;
  }
  .card-enlaces {
    height: 50px;
  }
  /**********BLOG*********/
  .formulario {
    align-items: center;
  }
  .titulo {
    text-align: center;
  }
  .subtitulo {
    text-align: center;
  }
  .blog-card {
    height: 300px;
  }
  .subtitulo-blog {
    margin-left: 0;
    padding: 0 1rem;
  }
  /**************CURSOS***********/
  .cardCursos {
    width: 18rem;
    height: 750px;
  }
  .subtitulo-cursos {
    margin-left: 0;
    padding: 0 1rem;
  }
  /********Turnos*********/
  .seccion2 {
    padding: 30px 0;
  }
  .mapa {
    width: 200px;
    height: 200px;
  }
  .tituloAgenda {
    font-size: 50px;
  }
}

/***********BLOG**********/
/*****************AGENDA TURNO******/
/*# sourceMappingURL=estilo.css.map */