

@import "parciales/_body";
@import "parciales/_header";
@import "parciales/_main";
@import "parciales/_footer";

















/*************SERVICIOS/CURSOS***************/

.card-img-top{
    height: 300px;
}

.card{
    margin: 50px 0;
    width: 18rem;
}

.card-title{
    text-align: center;
}

.servicio__titulo{
    display: flex;
    justify-content: center;
}

.list-group li:hover {
   background-color: darksalmon;
}

.card-text{
    height: 140px;
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card-body a:hover{
     color: darksalmon;
    font-weight: 500;
    
}

.card-servicios{
    height: 700px;
}

.card-body{
    height: 200px;
}

.scale-in-bottom {
	-webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  
  


  /***********Cursos**********/

  .card-cursos{
      height: 250px;
  }
    
  .cardCursos{
      height: 750px;
  }
  .cardCursos:hover{
      background-color: darksalmon;
      transition: 2s;
  }

  .reserva{
      background-color: darksalmon;
      border: darksalmon;
      display: flex;
      justify-content: center;
  }

  .reserva:hover{
      background-color: white;
      transition: 1s;
  }

/***********BLOG**********/


.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

  

.blog-card{
    background-color: white;
    height: 400px;
    text-align: center
    ;
}

.blog-card:hover{
    background-color: darksalmon;
    transition: 1s;
}

.card-text{
    height: 300px;
}

/*****************AGENDA TURNO******/

.seccion2{
    padding: 100px 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    
}

.formulario2{
    margin: 1rem 0;
}

.tituloAgenda{
    font-size: 80px;
}


  


@media screen and (max-width: 600px) {


    .grillaIndex{
        display: flex;
        flex-direction: column;
    }
     
    .tituloIndex{
        font-size: 60px;
        color: white;
        text-align: center;
    }
    
   header{
       flex-direction: row;
   }
   header nav ul{
       margin: 0;
       
   }

   

    .menuHeader{
        display: flex;
        justify-content: space-around;
    }

    .header_open{
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    .logo{
        margin-top: 10px;
    }

   main div h2{
       text-align: center;
      
   }

   main div h3{
       text-align: center;
       
   }
   
   .indexTexto{
       margin-right: 1rem;
       margin-left: 1rem;
   }

   .grillaIndex{
       margin-right: 0;
       margin-left: 12px;
   }


   #lateral{
       display: block;
       background-color: rgba(0, 0, 0, 0.9);
       width: 80%;
       height: 100vh;
       position: fixed;
       top: 0;
       right: -100%;
       z-index: 100;
   }

   #lateral:target{
       right: 0;
       transition: right 1s;
   }
    
   .menuHeader ul{
      flex-direction: column;
      justify-content: center;
  }

  .navLista{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

  .close{
      display: flex;
  }

   

    


    /**************SERVICIOS************/

    .servicio__titulo{
        font-size: 80px;
    }

    .card-body{
        height: 200px;
    }

    .card-enlaces{
        height: 50px;
    }


    /**********BLOG*********/    
    
   
    .formulario{
        align-items: center;
    }
    
    .titulo{
        text-align: center;
    }

    .subtitulo{
        text-align: center;
    }

    .blog-card{
        height: 300px;


    }




    /**************CURSOS***********/

    .cardCursos{
        width: 18rem;
        height: 750px;
    }

    
   

    /********Turnos*********/


    .seccion2{
        padding: 30px 0;
    }

    .mapa{
      width: 200px;
      height: 200px;
    }

   .tituloAgenda{
       font-size: 50px;
   }


   

   
    
    
   
    
    
    
}


