


body{
    background-color:rgb(26, 25, 25);
    

}

.grillaIndex{
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 
    "header "
    "main "
    "footer";
    
}

header{
    grid-area: header;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo nav";
    align-content: space-evenly;
}

.logo{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: 2px solid white;
    margin-left: 20px;
    grid-area: logo;
    
}


  



.menuHeader ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: nav;
    
}

.menuHeader ul li{
    list-style-type: none;
    margin: 0 10px;
   
}

.menuHeader ul li a{
    text-decoration: none;
    color: white;

}

.menuHeader ul li a:hover{
    color: lightcoral;
}

.header_open{
    display: none;
}

.index{
    padding: 100px 0;
    display: flex;
}

.row{
    align-items: center;
}

.carousel slide{
    width: 500px;
}


.d-block{
    width: 300px;
    height: 400px;
}


.tracking-in-expand {
    font-size: 100px;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  






footer{
    grid-area: footer;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

footer span{
    color: white;
    padding: 10px;
    
}

footer div{
    padding: 5px;


}



/*************SERVICIOS/CURSOS***************/

.card-img-top{
    height: 300px;
}

.card{
    margin: 50px 0;
    width: 18rem;
}

.servicio__titulo{
    display: flex;
    justify-content: center;
}



/***********BLOG**********/


section h1{
    text-align: center;
    font-size: 50px;
}
section  h3{
    text-align: center;
}

.blog1{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "blog2 blog3";
    align-items: center;
    justify-items: stretch;
    margin: 2rem;
}

.blog2{
    display: grid;
    justify-items: center;
  
    
}


/*****************AGENDA TURNO******/

.seccion2{
    padding: 100px 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    
}

.formulario2{
    margin: 1rem 0;
}

@media screen and (max-width: 600px) {


    .grillaIndex{
        display: flex;
        flex-direction: column;
    }

    
   header{
       flex-direction: row;
   }
   header nav ul{
       margin: 0;
       display: none;
   }

   header nav ul li{
       display: none;
    }

    .menuHeader{
        display: flex;
        justify-content: space-around;
    }

    .header_open{
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
        text-align: end;
        display: flex;
        justify-content: space-around;
    }

    .logo{
        margin-top: 10px;
    }

   main div h2{
       text-align: center;
      
   }

   main div h3{
       text-align: center;
       
   }
   
   .indexTexto{
       margin-right: 1rem;
       margin-left: 1rem;
   }

    

    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside img{
        width: 150px;
        border-radius: 30%;
        padding-left: 0;
    }

    


    /**************SERVICIOS/CURSOS**********/

    .servicios__body{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
    }

    .area2 h1{
        text-align: center;

    }

    .area2 h2{
        text-align: center;
    }

    .area2 p{
        text-align: center;
    }

    /**********BLOG*********/    
    
   
    




    /**************CURSOS***********/

    .cardCursos{
        width: 18rem;
    }

    /********Turnos*********/


    .seccion2{
        padding: 30px 0;
    }

    .mapa{
      width: 200px;
      height: 200px;
    }
   

   
    
    
   
    
    
    
}




