.seccion2{
    padding-top: 1rem;
}



.formulario-turnos{
    display: flex;
    flex-direction: column;
}

.formulario2{
    margin: 1rem 0;
}

.tituloAgenda{
    font-size: 80px;
    font-family: 'Satisfy', cursive;
}

.main-turnos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
    