/*Cambiar el nombre de la carpeta a Index, también en
_estilos.scss*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:rgb(26, 25, 25);
    
    
    

}



.index_contenido{
    width: 100%;
}


/*
.main-index{
    display: flex;
    align-items: center;
}
*/ 


.titulo-servicio-index{
    font-size: 3rem;
    color: rgb(216, 72, 72);
}

.servicios-link{ margin-top: 15px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-top: 0;
    margin-left: 1rem;
    


    &:hover{
        color: lightcoral;

    }   
       
    
}


.index-servicios-section{
    margin: 5rem 0;
    background-color: rgb(128, 128, 128);
    height: 50rem;

    .index-servicios{
        display: flex;
        flex-direction: row-reverse;
        
        justify-content: center;
        
      

        
       
    }

    

}

.subtitulo-servicio-index{
 display: flex;   
 justify-content: flex-start;
    
}

.parrafo-servicios{
    color: black;
    margin-bottom: 0;
}


.imagen-servicios{
    margin: 4rem 0;
    display: flex;
    justify-content: space-evenly;

    &-index{

        width: 300px;
        padding: 0 2rem;
     }

    

}


