.card-cursos{
    height: 250px;
}
  
.cardCursos{
    height: 750px;

    &:hover{
        background-color: salmon;
        transition: 2s;
    }
}


.reserva{
    background-color: lightsalmon ;
    border: lightsalmon;
    display: flex;
    justify-content: center;

     
}


.subtitulo-cursos{
    padding: 1rem 2rem 1rem 2rem;
}