.card-cursos{
    height: 250px;
}
  
.cardCursos{
    height: 750px;
}
.cardCursos:hover{
    background-color: darksalmon;
    transition: 2s;
}

.reserva{
    background-color: darksalmon;
    border: darksalmon;
    display: flex;
    justify-content: center;

      :hover{
    background-color: white;
    transition: 1s;
   }
}

.subtitulo-cursos{
    padding: 1rem 2rem 1rem 2rem;
}