



header{
    grid-area: header;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo nav";
    align-content: space-evenly;
    margin-left: 0;
    margin-right: 0;

    

    
}

.logo{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: 2px solid white;
    margin-left: 20px;
    grid-area: logo;
    
}


.menuHeader{
    margin-top: 15px;
       
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-area: nav;
        
    
      li{
        list-style-type: none;
        margin: 0 10px;

        a{
            text-decoration: none;
            color: white;

            &:hover{
                color: lightcoral;

            }            
        
       
    }
}
}
}





.header_open{
    display: none;
}

.close{
    display: none;
}