
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:rgb(26, 25, 25);
    
    
}



.subtitulo_index{
    color: #ea977b;
    text-align: center;
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}





.index2{
    background-image: url(/imagenes/stacked-waves-haikei2.png);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1638' height='480' preserveAspectRatio='none' viewBox='0 0 1638 480'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1638' height='480' x='0' y='0' fill='rgba(234%2c 151%2c 123%2c 1)'%3e%3c/rect%3e%3cpath d='M1638 0L1267.66 0L1638 166.64z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1267.66 0L1638 166.64L1638 263.5L753.9000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M753.9000000000001 0L1638 263.5L1638 292.83L591.8400000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M591.8400000000001 0L1638 292.83L1638 367.44L232.25000000000017 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 480L342.35 480L0 354.84000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 354.84000000000003L342.35 480L976.44 480L0 296.70000000000005z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 296.7L976.44 480L979.1800000000001 480L0 137.2z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 137.2L979.1800000000001 480L1309.26 480L0 60.139999999999986z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1638' height='480' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;

     height: 25rem;


    .index2-titulo{
        margin-top: 2rem;
        height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;


          .index2-h3{
              font-size: 80px;
              font-family: 'Satisfy', cursive;
              margin-bottom: 0;
          }
          

         
    } 

    .index2-enlace{
        text-decoration: none;
        color: rgb(26, 25, 25);
        font-size: 20px;

          &:hover{
              color: white;
          }
    }

    .index2-links{
        margin-top: 1rem;
    }
    
  
}



.links-servicios{
    display: flex;
    justify-content: center;
    

      li{
          list-style-type: none;
          padding: 0 2rem 0 0;


          a{
              text-decoration: none;
              color: white;
              
              font-size: 25px;

              &:hover{
                  color: rgb(26, 25, 25) ;
              }
          }
      }
}

.index3-contenedor{
    height: 45rem;
}

.index3-titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.index3-h3{
    
    padding-top: 2rem;
    font-size: 50px;
    height: 3rem;
    color: white;
}

.index3-links{
    color: #ea977b;
    font-size: 3rem;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
    padding-top: 2rem;
    &:hover{
        color: white;
    }
    
    
}

/*.index3-contenedor{
    display: flex ;
    padding-bottom: 5rem;
    margin-top: 5rem;
}*/

.carrusel-mobile{
    display: none;
}

