@media screen and (max-width: 600px) {
    

    .index{
        width: fit-content;
        }
    
        .index2 {

            height: 20rem;

            
    
           
    
           .index2-titulo {
    
            margin-top: 2rem;
            height: 10rem;
            display: flex;
            justify-content: space-around;
            }
    
    
    
            
        }
        
        
        #index2-h3{
            font-size: 50px;
            font-family: 'Satisfy', cursive;
            margin-bottom: 0;
            padding-top: 4rem;
        }

        .index3-links {
            color: #ea977b;
            font-size: 2rem;
            text-decoration: none;
            font-family: 'Satisfy', cursive;
            padding-top: 35px;
        }
    
        .carrusel-desktop{
            display: none;
        }

        .carrusel-mobile{
            display: flex;
        }
    
    /*  
    .grillaIndex{
        display: flex;
        flex-direction: column;
        
    }
     
    .tituloIndex{
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .subtitulo_index{
        margin-left: 15px;
    }

    .parrafo{
        padding-left: 12px;

    }

    


   header{
       flex-direction: row;
   }
   header nav ul{
       margin: 0;
       
   }

   .index_contenido{
      padding-left: 20px;
   }

   

    .menuHeader{
        display: flex;
        justify-content: space-around;
    }

    .header_open{
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    .logo{
        margin-top: 10px;
    }

   main div h2{
       text-align: center;
      
   }

   main div h3{
       text-align: center;
       
   }
   
   .indexTexto{
       margin-right: 1rem;
       margin-left: 1rem;
   }

   .grillaIndex{
       margin-right: 0;
       margin-left: 12px;
   }


   #lateral{
       display: block;
       background-color: rgba(0, 0, 0, 0.9);
       width: 80%;
       height: 100vh;
       position: fixed;
       top: 0;
       right: -100%;
       z-index: 100;
   }

   #lateral:target{
       right: 0;
       transition: right 1s;
   }
    
   .menuHeader ul{
      flex-direction: column;
      justify-content: center;
  }

  .navLista{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

  .close{
      display: flex;
  }

  .carrusel-desktop{
      display: none;
  }

  .carrusel-mobile{
      display: flex;
  }

 
  
  .index2{

     height: 15rem;

     .index2-titulo{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 7rem;
        


          .index2-h3{
              font-size: 50px;
              font-family: 'Satisfy', cursive;
              margin-bottom: 0;
             }

            }
          

         
    } 
   
    .links-servicios li a {
        text-decoration: none;
        color: white;
        font-size: 20px;

    }*/


   

    



    /**************SERVICIOS************/


    .body-paginas{
        width: fit-content;
    }

    .servicio__titulo{
        font-size: 60px;
        margin-top: 2rem;
    }

    .card-body{
        height: 200px;
    }

    .card-enlaces{
        height: 50px;
    }


    /**********BLOG*********/    
    
   
    .formulario{
        align-items: center;
    }
    
    .titulo{
        text-align: center;
    }

    .subtitulo{
        text-align: center;
        
    }

    .blog-card{
        height: 300px;


    }

    .subtitulo-blog{
        margin-left: 0;
        padding: 0 1rem;
    }




    /**************CURSOS***********/

    .cardCursos{
        width: 18rem;
        height: 750px;
    }

    .subtitulo-cursos{
        margin-left: 0;
        padding: 0 1rem;
    }
   

    /********Turnos*********/


    .main-turnos{
        height: 55rem; 
    
    }
    .seccion2{
        padding: 30px 0;
    }

    .mapa{
      width: 200px;
      height: 200px;
    }

   .tituloAgenda{
       font-size: 50px;
        padding-bottom: 2rem;
        padding-top: 0;
        margin-top: 0;
    
   }

   .mapa{
       margin-top: 3rem;
   }

   .formulario2{
       width: 100%;   
    }

}