.card-img-top{
    height: 300px;
}

.card{
    margin: 50px 0;
    width: 18rem;
}

.card-title{
    text-align: center;
}

.servicio__titulo{
    display: flex;
    justify-content: center;
    font-family: 'Satisfy', cursive;

  margin-top: 3rem;
}

.list-group li:hover {
   background-color: darksalmon;
}

.card-text{
    height: 140px;
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card-body a:hover{
     color: darksalmon;
    font-weight: 500;
    
}

.card-servicios{
    height: 700px;
}

.card-body{
    height: 200px;
}

.scale-in-bottom {
	-webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  
  